{% extends 'index.html' %}

{% block content %}
<h1>Pre-Loaded Gallery</h1>
<h5>Interact with an array of images available in our system.</h5>
<hr>

<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title" href="{{ url_for('instructions') }}">Earth</a></h2>
	    <h5>This image was taken by the Apolo 17 mission.</h5>
	    <img src = "{{ url_for('static', filename='Earth.jpg') }}", width = "182", height = "182">
	  </div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title" href="{{ url_for('instructions') }}">Alpha Centauri</a></h2>
	    <h5>This image was taken by NASA's Hubble Space Telescope.</h5>
	    <img src = "{{ url_for('static', filename='alpha centuri.jpg') }}", width = "182", height = "182">
	  </div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title" href="{{ url_for('instructions') }}">Haywire</a></h2>
	    <h5>This image was described as, "Stars gone haywire".</h5>
	    <img src = "{{ url_for('static', filename='haywire.png') }}", width = "182", height = "182">
	  </div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title" href="{{ url_for('instructions') }}">Mona Darlin'</a></h2>
	    <h5>Hail Leornardo.</h5>
	    <img src = "{{ url_for('static', filename='mona.jpg') }}", width = "182", height = "276">
	  </div>
</article>

<br><br><hr><br>





{% endblock %}