{% extends 'index.html' %}

{% block content %}
<h1>Live Camera</h1>
<h5>Use your device camera as image input.</h5>
<hr>

<img id = "bg" src = "{{ url_for('video') }}" class="video">

	
	<div class="slidercon">
		<form method="POST" action="#">
			<p>Please enter velocity as percentage of light-speed.</p>
			<input type="range" class="slider" min="0" max="100" value="50" id="range" name="level">
			<p pslider>Value: <span id="value"></span>%</p>
			
		</form>
	</div>
	<br>
	<br>
	<br>
	<hr>

{% endblock %}


